@import './../../../node_modules/@angular/material/theming';

$material-primary: mat-palette($mat-blue-gray, 800);
$material-accent: mat-palette($mat-orange, 200);
$material-warn: mat-palette($mat-red, A200);

$material-theme: mat-dark-theme($material-primary, $material-accent, $material-warn);

a {
  text-decoration: underline;
  color: var(--on-surface);
}

.mat-dialog-container {
  color: var(--on-surface) !important;
}

.mat-dialog-container h3 {
  color: var(--on-surface) !important;
}
