@import 'theme/light-theme/_variables.scss';
@import 'theme/dark-theme/dark-theme';
@import 'theme/blue-theme/blue-theme';
@import 'theme/purple-theme/purple-theme';
@import 'theme/material-theme/material-theme';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($arsnova-theme);

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.dark {
  @include angular-material-theme($dark-theme);
}

.blue {
  @include angular-material-theme($blue-theme);
}

.purple {
  @include angular-material-theme($purple-theme);
}

@import 'theme/light-theme/theme';

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  left: -10000px;
}

.modal {
  outline: none;
  border-color: transparent;
}

.placeholder {
  color: var(--on-surface);
}

markdown {
  color: var(--on-surface);
}

.oldtypo {
  &-h2 {
    color: var(--on-surface) !important;
    font-size: 24px !important;
  }

  &-h3 {
    color: var(--on-surface) !important;
    font-size: 18px !important;
  }

  &-p {
    color: var(--on-surface);
    hyphens: auto;
  }
}

.oldtypo h4 {
  padding-top: 10%;
  font-size: 16px !important;
}

.oldtypo p, .oldtypo div {
  color: var(--on-surface);
  hyphens: auto;
}

address {
  font-style: normal;
}

.overflow_hide {
  height: 0px;
  overflow: hidden;
}

.testBox {
  width: 50%;
  height: 50%;
  position: fixed;
  left: 0px;
  top: 25%;
  z-index: 1000;
  background-color: var(--surface);
}

.filledDialog {
  width: calc(100% - 50px);
  min-width: calc(100% - 50px);
  max-width: calc(100% - 50px);
  height: calc(100% - 50px);
  margin: 25px;
  padding: 0;
}

.screenDialog {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.imgWrp img {
  width: calc(100% - 35px);
  height: calc(100% - 35px);
  image-rendering: crisp-edges;
}

.mat-card, .mat-dialog-container {
  border-radius: 25px !important;
}

a.info {
  position: relative;
  z-index: 24;
  text-decoration: underline;
}

a.info span {
  position: absolute;
  left: -9000px;
  width: 0;
  overflow: hidden;
}


a.info:hover span, a.info:focus span, a.info:active span {
  display: block;
  position: absolute;
  top: 1.5em;
  left: 2em;
  width: 12em;
  border: 1px solid var(--on-primary);
  background-color: var(--primary);
  color: #000;
  text-align: center;
}
